<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:frpc="http://pro.xyf/schema/frpc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://pro.xyf/schema/frpc http://pro.xyf/schema/frpc.xsd">
       
    <frpc:protocol id="protocol" port="8080" transport="netty"/>
    
    <frpc:registry id="registry" type="zookeeper">
    	<frpc:addresses>
    		<frpc:address host="127.0.0.1" port="2181"/>
    		<frpc:address host="127.0.0.3" port="2182"/>
    	</frpc:addresses>
    </frpc:registry>

	<bean id="testMock" class="xyf.frpc.dev.test.interfaces.ITestMock" />
	
	<frpc:application id="application" name="helloApplication"/>

	<frpc:reference id="referenceTest" interface="xyf.frpc.dev.test.interfaces.ITest" host="127.0.0.1" port="8080" mock="testMock"/>
	
	<frpc:reference id="noExistTest" interface="xyf.frpc.dev.test.interfaces.INoexist" host="127.0.0.1" port="8080"/> 
</beans>